**List**

- Intialization

- inbuilt function
    - min
    - max
    - len
    - sorted
    - reversed
    - print
    - type

- index operation

- mutable vs immutable

- concatenation

- slicing

- list methods

- string denoted with quotes

- list denoted with square brackets

- list means array of elements

- list can access any data types together

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [3]:
l2=['A','B','C']
l2

['A', 'B', 'C']

In [4]:
l3=[1,2,3,4,'A','B','C']
l3

[1, 2, 3, 4, 'A', 'B', 'C']

In [6]:
#create as many as lists with different ways means different data types

l4=['5',12.6,'10.5','R','python','i+2']
l4

['5', 12.6, '10.5', 'R', 'python', 'i+2']

In [8]:
l5=[10,20,30,'Apple','Banana','cherry',True,False,10.5,20.2,20+30j]
l5

#list can represent with any data types elements

[10, 20, 30, 'Apple', 'Banana', 'cherry', True, False, 10.5, 20.2, (20+30j)]

In [10]:
l5=[10,10,10]
l5

#duplicate values are allowed

[10, 10, 10]

In [11]:
l6=[10,20,30,['A','B','C']]
l6

[10, 20, 30, ['A', 'B', 'C']]

In [12]:
l7=[]
l7

[]

In [14]:
l8=[_]
l8

[[[]]]

- List can access with square brackets

- List can have any data types of elements
    - Heterogeneous

- List can have duplicates

- List in list is possible

- Empty list can also possible

- the values inside list is called as **elements**

In [ ]:
#for all 7-list do min, max, len, sorted, reversed

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C']
l3=[1,2,3,4,'A','B','C']
l4=[10,20,30,'Apple','Banana','cherry',True,False,10.5,20.2,20+30j]
l5=[10,10,10]
l6=[10,20,30,['A','B','C']]
l7=[]

In [26]:
min(l1),min(l2),min(l5)

(1, 'A', 10)

In [18]:
min(l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
min(l4)

TypeError: '<' not supported between instances of 'float' and 'str'

In [23]:
min(l6)

TypeError: '<' not supported between instances of 'list' and 'int'

In [25]:
min(l7)

ValueError: min() iterable argument is empty

In [32]:
max(l1),max(l2),max(l5)

(4, 'C', 10)

In [29]:
max(l3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [30]:
max(l4)

TypeError: '>' not supported between instances of 'float' and 'str'

In [33]:
max(l6)

TypeError: '>' not supported between instances of 'list' and 'int'

In [34]:
max(l7)

ValueError: max() iterable argument is empty

In [41]:
len(l1),len(l2),len(l3),len(l4),len(l5),len(l6),len(l7)

(4, 3, 7, 6, 3, 4, 0)

In [50]:
sorted(l1),sorted(l2),sorted(l5),sorted(l7)

([1, 2, 3, 4], ['A', 'B', 'C'], [10, 10, 10], [])

In [44]:
sorted(l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
sorted(l4)

TypeError: '<' not supported between instances of 'float' and 'str'

In [48]:
sorted(l6)

TypeError: '<' not supported between instances of 'list' and 'int'

In [63]:
reversed(l1),reversed(l2),reversed(l3),reversed(l4),reversed(l5),reversed(l6),reversed(l7)

(<list_reverseiterator at 0x25d8b3d4f10>,
 <list_reverseiterator at 0x25d8b3d4ee0>,
 <list_reverseiterator at 0x25d8b3d4760>,
 <list_reverseiterator at 0x25d8b3d4880>,
 <list_reverseiterator at 0x25d8b3d54e0>,
 <list_reverseiterator at 0x25d8b3d4bb0>,
 <list_reverseiterator at 0x25d8b3d5810>)

In [65]:
list(reversed(l1)),list(reversed(l2)),list(reversed(l3)),list(reversed(l4)),list(reversed(l5)),list(reversed(l6)),list(reversed(l7))

([4, 3, 2, 1],
 ['C', 'B', 'A'],
 ['C', 'B', 'A', 4, 3, 2, 1],
 ['i+2', 'python', 'R', '10.5', 12.6, '5'],
 [10, 10, 10],
 [['A', 'B', 'C'], 30, 20, 10],
 [])

- sorted will compare the elements

- the same rule appicable for min and max

- sorted never return any error eventough we have empty list

- min and max give error if it has empty list

- reversed only do reverse elements

**Sum**

In [66]:
sum([100,200,300])

600

In [67]:
sum(['A','B','C'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
sum([10,20,30], start=100)

160

In [72]:
sum([])

0

**Index**

In [74]:
l1=[1,2,3,4,'A','B','C']

# -7 -6 -5 -4 -3 -2 -1
#  1  2  3  4  A  B  C
#  0  1  2  3  4  5  6

In [76]:
l1[0],l1[-7]

(1, 1)

In [82]:
#by using for loop print the positive index
#by using for loop print the negative index
#by using for loop print both positive and negative index

l1=[1,2,3,4,'A','B','C']
for i in range(len(l1)):
    print(f"the positive index of {l1[i]} is: {i}")

    print(f"the negative index of {l1[i]} is: {i-len(l1)}")

    print(f"the positive index of {l1[i]} is: {i} and negative index is: {i-len(l1)}")

    print("=================================================================================")

the positive index of 1 is: 0
the negative index of 1 is: -7
the positive index of 1 is: 0 and negative index is: -7
=================================================================================
the positive index of 2 is: 1
the negative index of 2 is: -6
the positive index of 2 is: 1 and negative index is: -6
=================================================================================
the positive index of 3 is: 2
the negative index of 3 is: -5
the positive index of 3 is: 2 and negative index is: -5
=================================================================================
the positive index of 4 is: 3
the negative index of 4 is: -4
the positive index of 4 is: 3 and negative index is: -4
=================================================================================
the positive index of A is: 4
the negative index of A is: -3
the positive index of A is: 4 and negative index is: -3
=================================================================================
the positive index of B is: 5
the negative index of B is: -2
the positive index of B is: 5 and negative index is: -2
=================================================================================
the positive index of C is: 6
the negative index of C is: -1
the positive index of C is: 6 and negative index is: -1
=================================================================================

In [84]:
l=[[10,20,30]]
#how to access the 10
len(l)

1

In [85]:
l=[[10,20,30]]
#how many elements are there in a list
len(l)

1

In [86]:
l[0]

[10, 20, 30]

In [90]:
l[0][0],l[0][1],l[0][2]

(10, 20, 30)

In [91]:
l1=[10,20,['A','B']]
#retrive the A
#how many elements are there : 3
len(l1)

3

In [93]:
#how can we access A

l1[2][0]

'A'

In [94]:
l1[2][0], l1[2][1]

('A', 'B')

In [95]:
l1=[1,2,3,4,[5,6,['Apple']]]
len(l1)

5

In [98]:
l1[4][2][0]

'Apple'

In [102]:
l1=[1,2,3,[4,[5,['cherry']]]]
l1[3][1][1][0]

'cherry'

In [111]:
l1=[[[[[[[[['banana']]]]]]]]]
l1[0][0][0][0][0][0][0][0][0]

'banana'

In [118]:
l1=['Apple',['kashmir',['India',['Mumbai',['sharuk',['Film',['DDLJ']]]]]]]
l1[1][1][1][1][1][1][0]

'DDLJ'

**Mutable vs Immutable**

In [119]:
str1='welcome'
str1[2]

'l'

In [120]:
str1[2]='L'
str1

TypeError: 'str' object does not support item assignment

In [121]:
l1=['w','e','l','c','o','m','e']
l1[2]

'l'

In [122]:
l1[2]='L'
l1

['w', 'e', 'L', 'c', 'o', 'm', 'e']

- we can change the list elements using index

**concatenation**

In [123]:
s1='hello'
s2='welcome'
s1+s2

'hellowelcome'

In [124]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [125]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [126]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [127]:
s1*2

'hellohello'

In [128]:
l1=['h','e','l','l','o']
l2=['w','e','l','c','o','m','e']
l1+l2

['h', 'e', 'l', 'l', 'o', 'w', 'e', 'l', 'c', 'o', 'm', 'e']

In [129]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [130]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [131]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [132]:
l1*2

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

**slicing**

In [ ]:
l1=[1,2,3,4,5,'A','B','C','D','10.5',True,False,10.5,100,200]

l1[:]  #w
l1[::]  #w
l1[::-1]  #w
l1[2:14:2]  #w
l1[2:14:-2]  #nw
l1[2:-14:2]  #nw
l1[-2:14:2]  #w
l1[-2:-14:-2]  #w
l1[14:2:2]  #nw
l1[14:2:-2]  #w
l1[14:-2:2]  #nw
l1[-14:2:2]  #w
l1[-14:-2:-2]  #nw

**Methods**

In [133]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [134]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [ ]:
================= inbuilt functions ====================
print()
max()
min()
================ Methods ====================
l1.<method_name>()
method_name.(l)  #mistake

**clear**

In [135]:
l1=[10,20,30,40]
l1.clear()
l1

[]

**copy**

In [136]:
l1=[10,20,30,40]
l2=l1.copy()
l1.clear()
print('l2: ',l2)
print('l1: ',l1)

l2:  [10, 20, 30, 40]
l1:  []

**reverse vs reversed**

#reversed

- reversed is a inbuilt function

- reversed can be applicable for all iterable

- reversed applicable for **strings, lists, tuple, dict,etc**

- reversed(string), reversed(list), reversed(tuple), etc


#reverse

- reverse is a method is belongs to only list

- reverse method can not applicable to strings, tuple and dict

- list.reverse()

In [138]:
l1=[10,20,30,40,'A','B','C']
l1.reverse()
l1

#reverse the elements save the output in same variable
#it is indicates as INPLACE
#sometimes inplace=True available

['C', 'B', 'A', 40, 30, 20, 10]

In [139]:
str1='hello how are you'
str1.reverse()
str1

AttributeError: 'str' object has no attribute 'reverse'

In [140]:
reversed(str1)

In [141]:
list(reversed(str1))

['u',
 'o',
 'y',
 ' ',
 'e',
 'r',
 'a',
 ' ',
 'w',
 'o',
 'h',
 ' ',
 'o',
 'l',
 'l',
 'e',
 'h']

In [142]:
l1=[10,20,30,40,'A','B','C']
reversed(l1)

In [143]:
list(reversed(l1))

['C', 'B', 'A', 40, 30, 20, 10]

In [149]:
l1.reverse()

In [148]:
str1.reverse()

AttributeError: 'str' object has no attribute 'reverse'

**sort vs sorted**

In [150]:
type([]) 
#do not give as variable

list

In [151]:
list1=[19,25,3,45,5]
list1.sort()
list1

[3, 5, 19, 25, 45]

In [152]:
list1=[19,25,3,45,5]
list1.sort(reverse=True)
list1

[45, 25, 19, 5, 3]

In [153]:
sorted(list1)

[3, 5, 19, 25, 45]

In [ ]:
sorted(string)  #works
sorted(list)    #works

In [ ]:
list.sort()    #works
string.sort()  #fails

**Append**

- append means add an element at the end of the list

- append is a method very important

- append is used to store the output in a list

- till last class we just printed all the outputs

- if we want to save the outputs we need to do append only

- append method we will use very very frequently

In [155]:
#empty list

l1=[]
l1.append(10)
l1

[10]

In [156]:
l1=[1,2,3]
l1.append('apple')
l1

[1, 2, 3, 'apple']

In [157]:
l1=[1,2,3,4]
l1.append('apple')
l1.append('banana')
l1

[1, 2, 3, 4, 'apple', 'banana']

In [160]:
# 1. create a list of 10 numbers using for loop

l1=[]
for i in range(11):
    l1.append(i)

l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [163]:
# 2. wap ask the users get 5 random numbers. perform the square of the random numbers save in a list

import random
l1=[]
for i in range(5):
    n1=random.randint(1,10)
    l1.append(f"the square of {n1} is {n1*n1}")

l1

['the square of 3 is 9',
 'the square of 8 is 64',
 'the square of 4 is 16',
 'the square of 2 is 4',
 'the square of 1 is 1']

In [169]:
# 3. list1=[100,20,27,38,47,52,87]
#using this list we need to extract even and odd numbers
#even_list=[100,20,38,52] the o/p should be sorted

list1=[100,20,27,38,47,52,87]
even_list=[]
odd_list=[]

for i in list1:
    #print(i)
    if i%2==0:
        print(f"{i} is the even no")
        even_list.append(i)
    else:
        print(f"{i} is the odd no")
        odd_list.append(i)

even_list.sort()
odd_list.sort()

even_list,odd_list

100 is the even no
20 is the even no
27 is the odd no
38 is the even no
47 is the odd no
52 is the even no
87 is the odd no

([20, 38, 52, 100], [27, 47, 87])

In [174]:
# 4. l1=['hyd','chennai','mumbai','pune']
#    ans=['Hyd','Chennai','Mumbai','Pune']

l1=['hyd','chennai','mumbai','pune']
ans=[]

for i in l1:
    ans.append(i.capitalize())

ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [175]:
#Q5) l1=['hyd','chennai','mumbai','pune']
# ans=['HYD','CHENNAI','MUMBAI','PUNE']

l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.upper())

ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [176]:
#Q6) l1=['hyd','chen#ai','mu#bai','pune']
# ans=['chen#ai','mu#bai']

l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)

ans

['chen#ai', 'mu#bai']

In [205]:
#Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' not in i:
        ans.append(i)

ans

['hyd', 'pune']

In [181]:
#Q8) str1= 'hello hai how are you'
# ans=['Hello','Hai','How','Are','You']

str1= 'hello hai how are you'
l1=str1.split()
ans=[]
for i in l1:
    ans.append(i.capitalize())

ans

['Hello', 'Hai', 'How', 'Are', 'You']

In [195]:
#Q9) str1='virat.kohli@rcb.com; rohit.sharma@mi.com; dhoni.ms@csk.com'
# fname=['virat','rohit','dhoni']
# sname=['kohli','sharma','ms']
# cname=['rcb','mi','csk']

str1='virat.kohli@rcb.com'
l1=str1.split()
f_name=[]
s_name=[]
c_name=[]
for i in l1:
    first_dot=i.find('.')
    at_symbol=i.find('@')
    second_dot=i.find('.',first_dot+1)

    f_name.append(i[:first_dot])
    s_name.append(i[first_dot+1:at_symbol])
    c_name.append(i[second_dot+1:])

#first_dot,at_symbol,second_dot
f_name,s_name,c_name

(['virat'], ['kohli'], ['com'])

In [204]:
# q10) get the 7 random numbers in a list between 1 to 100
# find the min and max value with out using min and max function
import random
l=[]
for i in range(7):
    num=random.randint(1,100)
    l.append(num)
print(l)

max_val=l[0]
for i in l:
    if i>max_val:
        max_val=i

print("max value: ",max_val)

min_val=l[0]
for i in l:
    if i<min_val:
        min_val=i

print("min value: ",min_val)

[57, 95, 6, 10, 94, 10, 6]
max value:  95
min value:  6

In [9]:
# q11) str1='can canner can not can you canner can be can you can not'
#      list=['can-6','canner-2','not-2','you-2','be-1']

str1='can canner can not can you canner can be can you can not'
l1=str1.split()
#print(l)
l2=[]
count=0
for i in l:
    if i not in l2:
        #print(i,count(i))
        l2.append(i)
        l1.append(f"{i}-{l.count(i)}")

l1

['can',
 'canner',
 'can',
 'not',
 'can',
 'you',
 'canner',
 'can',
 'be',
 'can',
 'you',
 'can',
 'not',
 'can-6',
 'canner-2',
 'not-2',
 'you-2',
 'be-1']

In [18]:
# q12) qns= ['who is pm of india','who is ICT captain',
#             'what is the capital of india']
#      ans=['modi','rohit','delhi']
#     step-1: iterate through each qn
#     step-2: user will enter the answer
#           check-1: the user given 'MODI' correct answer
#           check-2: qn index and ans index should be
#    step-3: count_marks=0 at the top
#    step-4:  for every correct answer 1 marks
#    step-5: how many correct answers and how many marks

qns= ['who is pm of india','who is ICT captain','what is the capital of india']
ans=['modi','rohit','delhi']
count=0
for i in range(len(qns)):
    ANSWER=input(qns[i])
    if ANSWER.lower()==ans[i].lower():
        #print("correct")
        count=count+1
print("The total correct answer are: ",count)

who is pm of india modi
who is ICT captain rihit
what is the capital of india delhi

The total correct answer are:  2

In [16]:
qns= ['who is pm of india','who is ICT captain','what is the capital of india']
ans=['modi','rohit','delhi']
count=0
for i in range(len(qns)):
    ANSWER=input(qns[i])
    if ANSWER.lower()==ans[i].lower():
        count=count+1
print("The total correct answers:",count)

who is pm of india modi
who is ICT captain ROHIT
what is the capital of india DELhi

The total correct answers: 3

**pop vs remove**

In [32]:
l=[100,200,300,'A','B','C']

In [33]:
l.pop()

#pop will remove the element based on index
#if we don't give any index by default it will remove last value
#the default valude index=-1

'C'

In [21]:
l

[100, 200, 300, 'A', 'B']

In [34]:
l=[100,200,300,'A','B','C']
l.pop(2)

#what will return as output
# a. [100,200,'A','B','C']
# b. 300

300

In [35]:
l.pop(200)

IndexError: pop index out of range

In [36]:
l=[100,200,300,'A','B','C']
l.remove(100)

In [37]:
l

[200, 300, 'A', 'B', 'C']

- pop except a index value

- remove except a value

In [41]:
l=[100,200,300,100,100,'A','B','C']
# How to remove 2nd 100

**Index**

In [44]:
l=[100,200,300,100,100,'A','B','C']
i1=l.index(100)
i2=l.index(100,i1+1)
l.pop(i2)
l
#i1,i2

[100, 200, 300, 100, 'A', 'B', 'C']

**Extend**

- difference between concatenation vs append vs extend

In [1]:
l1=[1,2,3,4]
l2=['A','B','C']
l1.append(l2)

In [2]:
l1

[1, 2, 3, 4, ['A', 'B', 'C']]

In [3]:
l1=[1,2,3,4]
l2=['A','B','C']
l1+l2

[1, 2, 3, 4, 'A', 'B', 'C']

In [5]:
l1,l2

([1, 2, 3, 4], ['A', 'B', 'C'])

In [7]:
l1=[1,2,3,4]
l2=['A','B','C']
l1.extend(l2)
l1

[1, 2, 3, 4, 'A', 'B', 'C']

In [8]:
l1

[1, 2, 3, 4, 'A', 'B', 'C']

In [9]:
l2

['A', 'B', 'C']

In [12]:
l1=[1,2,3,4]
l2=['A','B','C']
l3=l1+l2
l3

[1, 2, 3, 4, 'A', 'B', 'C']

In [13]:
l1=[1,2,3,4]
l2=['A','B','C']
l1.extend(l2)
l1

[1, 2, 3, 4, 'A', 'B', 'C']

In [29]:
l2.extend(l1)
l2

['A', 'B', 'C', 1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
l1=[1,2,3,4]
l2=['A','B','C']
l2.extend(l1)
l2

['A', 'B', 'C', 1, 2, 3, 4]

In [30]:
l1=['happy']
l2=['mrs happy']
l1+l2    #adding you and yours

['happy', 'mrs happy']

In [31]:
l1  #only you coming

['happy']

In [36]:
l1.extend(l2)  #adding you and yours
l1  #both will come

['happy', 'mrs happy', 'mrs happy', 'mrs happy', 'mrs happy', 'mrs happy']

In [37]:
l2.extend(l1)
l2

['mrs happy',
 'happy',
 'mrs happy',
 'mrs happy',
 'mrs happy',
 'mrs happy',
 'mrs happy']

- extend and concatenation both has same behaviour

- means add the two lists

- but extend will overwrite the list

**Insert**

- difference between insert and append

In [39]:
l1=[1,2,3,4,'A','B','C']
l1.append(1000)
l1

[1, 2, 3, 4, 'A', 'B', 'C', 1000]

In [40]:
l1=[1,2,3,4,'A','B','C']
#   0 1 2 3  4   5   6
#   1 2 3,1000'A''B''C'

l1.insert(3, 1000)
l1

[1, 2, 3, 1000, 4, 'A', 'B', 'C']

In [42]:
l1=[1,2,3,4,'A','B','C']
#i want insert 1000 before 'B'
i1=l1.index('B')
l1.insert(i1,1000)
l1

[1, 2, 3, 4, 'A', 1000, 'B', 'C']

In [64]:
#wap ask the user add the elements of the lists
#l1=[100,200,300]
#l2=[10,20,30]
#ans=[110.220,300]

l1=[100,200,300]
l2=[10,20,30]
ans=[]
l1[0]+l2[0]
l1[1]+l2[1]
l1[2]+l2[2]

#l1[i]+l2[i]

for i in range(len(l1)):
    ans.append(l1[i]+l2[i])

ans

[110, 220, 330]

In [23]:
l1=[100,200,300,400]
l2=[10,20,30]
ans=[]
for i in range(len(l1)):
    if len(l2)==len(l1):
        print(l1[i]+l2[i])
    else:
        print(l2)

10
20
30

IndexError: list index out of range

In [32]:
l1=[100,200,300,400]
l2=[10,20,30]
max_val=max(len(l1),len(l2))
ans=[]
for i in range(max_val):
    if i<len(l2):
        ans.append(l1[i]+l2[i])
    else:
        ans.append(l1[i])

ans

[110, 220, 330, 400]

In [46]:
import math
l1=[2,5]
l2=[4,9]
x1=l1[0]
x2=l2[0]
y1=l1[1]
y2=l2[1]

d1=(x2-x1)**2
d2=(y2-y1)**2

d=d1+d2
math.sqrt(d)
#x1,x2,y1,y2
#d1,d2

4.47213595499958

In [47]:
math.sqrt(((l2[0]-l1[0])**2)+((l2[1]-l1[1])**2))

4.47213595499958

In [53]:
#wap a=[(1,3),(7,8),(2,6),(9,3)]
#b=(5,9)
#find the max and min distance points

a=[(1,3),(7,8),(2,6),(9,3)]
b=(5,9)
ans=[]
for i in a:
    l1=i
    ans.append(math.sqrt(((b[0]-l1[0])**2)+((b[1]-l1[1])**2)))
ans

[7.211102550927978, 2.23606797749979, 4.242640687119285, 7.211102550927978]

In [60]:
a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
#find all the distance among the points
#(1,3) with all other points
#(7,8) with all other
#and so on

ans=[]
for i in a:
    for j in a[1:]:
        #print(i,j)
        ans.append(math.sqrt(((i[0]-j[0])**2)+((i[1]-j[1])**2)))

ans

[7.810249675906654,
 3.1622776601683795,
 8.0,
 6.082762530298219,
 12.727922061357855,
 0.0,
 5.385164807134504,
 5.385164807134504,
 5.0990195135927845,
 5.0,
 5.385164807134504,
 0.0,
 7.615773105863909,
 3.0,
 10.0,
 5.385164807134504,
 7.615773105863909,
 0.0,
 9.219544457292887,
 9.055385138137417,
 5.0990195135927845,
 3.0,
 9.219544457292887,
 0.0,
 8.54400374531753,
 5.0,
 10.0,
 9.055385138137417,
 8.54400374531753,
 0.0]