## DataTypes

- Python can say data type of the value without initializing it

- which means the data type is automatically consider

- int : integer

- float

- str : String

- bool : boolean

- complex

- List

- tuple

- dict : dictionery

- set

- frozenset

- bytes

- bytearray

- memoryview

**Integer**

In [1]:
num=100
type(num)

int

In [2]:
print(num)

100

**Binary Number System**

- digits: 0,1,2,3,4,5,6,7,8,9

- binary: bi means two: 0 and 1

- representation is : 0b001, 0b111, 0b101, 0B101

- wrong representation is: ob001 (it is not 'o', it is 0)

In [3]:
0b101

5

In [4]:
0b1010

10

In [5]:
0b1111

15

In [6]:
2^2=4  2^1=2  2^0=1

0        0      0      0
0        0      1      1
0        1      0      2
0        1      1      3
1        0      0      4
1        0      1      5
1        1      0      6
1        1      1      7

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1570955240.py, line 1)

In [ ]:
2^3=8    2^2=4  2^1=2  2^0=1
    
0        0        0      0      0
0        0        0      1      1
0        0        1      0      2
0        0        1      1      3
0        1        0      0      4
0        1        0      1      5
0        1        1      0      6
0        1        1      1      7
1        0        0      0      8
1        0        0      1      9
1        0        1      0      10
1        0        1      1      11
1        1        0      0      12
1        1        0      1      13
1        1        1      0      14
1        1        1      1      15

Octal Number System

- digits: 0,1,2,3,4,5,6,7,8,9

- Octal: oct means 8: 0,1,2,3,4,5,6,7

- representation is : 0o001, 0o123, 0o567, 0O765

- wrong representation is: 'o' as start, 0o789

In [7]:
0o123

83

In [8]:
0O4224

2196

Hexa Number System

- digits: 0,1,2,3,4,5,6,7,8,9

- Hexa: Hexa means 16: 0,1,2,3,4,5,6,7,8,9,A=10,B=11,C=12,D=13,E=14,F=15

- representation is : 0x001, 0x123, 0x567, 0X765, 0Xabc

- wrong representation is: 'o' as start, 0h67,

In [10]:
0x123

291

In [11]:
0Xabc

2748

**Float**

- Float numbers means continues points

- float numbers means having some decimals

- integer number means discrete points

In [12]:
number=10.23
type(number)

float

- float point can be repersent as exponential format **e**

In [1]:
1e1  #1*10
1e2  #1*100
1e3  #1*1000

1000.0

In [15]:
2e2  #2*100

200.0

In [25]:
print(1e+1)  #1*10
print(1e+2)  #1*100
print(1e+3)  #1*1000

10.0
100.0
1000.0

In [20]:
1e+1,1e+2,1e+3

(10.0, 100.0, 1000.0)

In [21]:
print(1e-1)  #1/10
print(1e-2)  #1/100
print(1e-3)  #1/1000

(0.1, 0.01, 0.001)

In [24]:
print(1e-4)
print(1e-5)
print(1e-6)

0.0001
1e-05
1e-06

**String**

- String means English Characters

In [26]:
name="Python"
type(name)

str

In [27]:
number='10'
type(number)

str

In [28]:
sen1="Hello, I like 'python'"
print(sen1)

Hello, I like 'python'

In [46]:
sen2='Hello, My name is "Riddhi"'
print(sen1)

Hello, My name is "Riddhi"

- Entire sentence in single qutoe, then use double quote to highlight the word

- Entire sentence in double quote, then use single quote to highlight the word

In [36]:
num1=10
num1

10

In [38]:
num2=100
num1

10

In [47]:
name="Riddhi 'Gajanan'"
print(name)

Riddhi 'Gajanan'

In [48]:
surname="urkude"
print(name)

Riddhi 'Gajanan'

In [49]:
print(surname)

urkude

In [50]:
person1="Hey, what's your 'name'"
print(person1)

Hey, what's your 'name'

In [52]:
person2='Hey, My name is "Riddhi"'
print(person1)

Hey, what's your 'name'

In [53]:
name="Python"
name

'Python'

In [54]:
print(name)

Python

In [55]:
name1='Python'
name2='Java'
name2
name1

'Python'

In [56]:
name1='Python'
name2='Java'
print(name2)
print(name1)

Java
Python

In [59]:
print('Hello Good Morning')
print('How are you')

Hello Good Morning
How are you

In [62]:
statement="""Hello, I like 'python'
              Hi, Good Morning
              Today's class is data types"""
print(statement)

Hello, I like 'python'
              Hi, Good Morning
              Today's class is data types

In [64]:
sen1="Hello, I like 'python'"
print(sen1)

Hello, I like 'python'

In [68]:
sen2='Hello, My name is "Riddhi"'
print(sen1)

Hello, I like 'python'

**Doc String**

- If we want to convey information to the user

- we will write the statements before coding part

- is called as Doc String

- In jupyter notebook to convey information we have **markdown** mode

- But in VS code we don't have a markdown option

- we convey the information by using **triple quotes**

- If we see anywhere triple quotes means the user is trying to convey some information

**Boolean**

In [70]:
value=True
type(value)

bool

In [71]:
value=False
type(value)

bool