**Print Statement**

In [1]:
num1=30
num2=20
num1
num2

20

- In Jupyter notebook, only last value visible

- If you want to print two values we need to print both values

In [2]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [3]:
num1=30
num2=20
print(num1), print(num2)

30
20

(None, None)

- Here none is coming because it is expecting to save in a variable whenever to write side by side

- Hence, it is not saved in any variable that's why it is coming like (None, None)

In [5]:
num1=30
num2=20
print(num1), print(num2)

num1,num2

30
20

(30, 20)

In [6]:
num1=30
num2=20
num1,num2

(30, 20)

In [4]:
num1=30
num2=20
print(num1,num2)

30 20

In [19]:
print(30,20, 'Python')

30 20 Python

In [13]:
a=100
b=200
c=a+b
#the addition of 100 and 200 is 300
print('the addition of',a, 'and',b, 'is',c)

the addition of 100 and 200 is 300

In [18]:
name='Python'
age=10
city='Hyd'
#My name is python I'm 10 years old and from Hyd
print('My name is' ,name, 'Im' ,age, 'years old and from' ,city)

My name is Python Im 10 years old and from Hyd

**Format**

In [21]:
a=100
b=200
c=a+b
#the addition of 100 and 200 is 300
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}.'.format(a,b,c))

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300.

In [22]:
name='Python'
age=10
city='Hyd'
#My name is python I'm 10 years old and from Hyd
print('My name is {} Im {} years old and from {}.'.format(name,age,city))

My name is Python Im 10 years old and from Hyd.

In [23]:
print('My name is {} Im {} years old and from {}.'.format(city,name,age))

My name is Hyd Im Python years old and from 10.

In [25]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
#the addition of 100 and 200 is 300
#the subtraction of 100 and 200 is -100
#the multiplication of 100 and 200 is 20000
#the division of 100 and 200 is 0.5
print('the addition of {} and {} is {}.'.format(n1,n2,add))
print('the subtraction of {} and {} is {}.'.format(n1,n2,sub))
print('the multiplication of {} and {} is {}.'.format(n1,n2,mul))
print('the division of {} and {} is {}.'.format(n1,n2,div))

the addition of 100 and 200 is 300.
the subtraction of 100 and 200 is -100.
the multiplication of 100 and 200 is 20000.
the division of 100 and 200 is 0.5.

**f string**

In [26]:
a=100
b=200
c=a+b
#the addition of 100 and 200 is 300
print('the addition of',a, 'and',b, 'is',c)
print('the addition of {} and {} is {}.'.format(a,b,c))

print(f'the addition of {a} and {b} is {c}.')

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300.
the addition of 100 and 200 is 300.

In [27]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
#the addition of 100 and 200 is 300
#the subtraction of 100 and 200 is -100
#the multiplication of 100 and 200 is 20000
#the division of 100 and 200 is 0.5
print(f'the addition of {n1} and {n2} is {add}.')
print(f'the subtraction of {n1} and {n2} is {sub}.')
print(f'the multiplication of {n1} and {n2} is {mul}.')
print(f'the division of {n1} and {n2} is {div}.')

the addition of 100 and 200 is 300.
the subtraction of 100 and 200 is -100.
the multiplication of 100 and 200 is 20000.
the division of 100 and 200 is 0.5.

- always use the f string method for real time project

- we have a situation where we want to combine two print statements

In [28]:
print('Hello')
print('good morning')

Hello
good morning

In [29]:
print('hello good morning')

hello good morning

- In order to print two statements or multiple print statements in one line we have to use end operator

$End$

In [37]:
print(20,end=' ')
print(30)

20 30

In [38]:
print(20,end=' ===> ')
print(30)

20 ===> 30

In [41]:
print(1, end=' ')
print(2, end=" ")
print(3)

1 2 3

In [43]:
print(20,'****',30)

20 **** 30

In [44]:
print(20, end='****')
print(30)

20****30

- We have a another situation in that we have to seperate the multiple variables in one print statement

- In this case we have to use seperator operator

In [46]:
print(20, 30)

20 30

In [47]:
print(20, '--->', 30)

20 ---> 30

$sep$

In [49]:
print(20,30,50, sep='--->')

20--->30--->50

- end operator used to combine multiple print statements

- sep operator used to seperate the multiple variables in a single print statement

In [69]:
print('the addition of 3+4 is',3+4,'.')
print('the addition of 3+4 is {}.'.format(3+4))
print(f'the addition of 3+4 is {3+4}.')
print("the addition of 3+4 is",3+4, sep='.')

the addition of 3+4 is 7 .
the addition of 3+4 is 7.
the addition of 3+4 is 7.
the addition of 3+4 is.7

In [68]:
print(f'the addition of 3+4 is {3+4}', '.', sep='')

the addition of 3+4 is 7.