- List comprehension is a way to write the code line in a single line

- whenever we use for loops and if conditions the time will be increase

- list comprehension will able to write for loop and if condition in a single line

- which reduce the time to get the output

In [1]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
list1=[]
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Method-1: only for loop**

In [ ]:
# list1=[<code here>]
# list1=[<output><for loop>]

In [5]:
list1=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# l1=['hyd','chennai','mumbai','pune']
# ans=['Hyd','Chennai','Mumbai','Pune']

l1=['hyd','chennai','mumbai','pune']
ans=[i.capitalize() for i in l1]
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [9]:
# l1=['hyd','chennai','mumbai','pune']
# ans=['HYD','CHENNAI','MUMBAI','PUNE']

l1=['hyd','chennai','mumbai','pune']
ans=[i.upper() for i in l1]
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [13]:
# l1=['hyd','chennai','mumbai','pune']
# ans=[0,10,20,30] multiply index with 10

l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in range(len(l1)):
    ans.append(i*10)

ans

[0, 10, 20, 30]

In [15]:
ans=[i*10 for i in range(len(l1))]
ans

[0, 10, 20, 30]

In [17]:
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(l1.index(i)*10)

ans

[0, 10, 20, 30]

In [18]:
ans=[l1.index(i)*10 for i in l1]
ans

[0, 10, 20, 30]

**Method-2: for loop with if condition**

In [ ]:
#[<output><for loop>]
#[<output><for loop><if condition>]

In [20]:
l1=[i if '#' in i for i in l1]

SyntaxError: expected 'else' after 'if' expression (3999816801.py, line 1)

In [23]:
# l1=['hyd','chen#ai','mu#bai','pune']
# ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
l1=[i for i in l1 if '#' in i]
l1

['chen#ai', 'mu#bai']

In [24]:
#  l1=['hyd','chen#ai','mu#bai','pune']
#  ans=['hyd','pune']

l1=['hyd','chen#ai','mu#bai','pune']
l1=[i for i in l1 if '#' not in i]
l1

['hyd', 'pune']

In [7]:
 #  l1=['hyd','chen#ai','mu#bai','pune']
#  ans=['hyd','pune']

l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)

ans

['chen#ai', 'mu#bai']

In [5]:
#list1=[100,20,27,38,47,52,87]
#even_list=[<write your code here>]
#odd_list=[<write your code here>]

#don't give if and else
#write two answer both will use if only

list1=[100,20,27,38,47,52,87]
even_list=[i for i in list1 if i%2==0]
odd_list=[i for i in list1 if i%2!=0]
even_list,odd_list

([100, 20, 38, 52], [27, 47, 87])

**Method-3: for loop if else**

In [ ]:
#method-1: [<output><for loop>]
#method-2: [<ouptput><for loop><if condition>]
#method-3: [<if output><if condition>else<else output><for loop>]

In [8]:
list1=[100,20,27,38,47,52,87]
even_odd=[f'even={i}' if i%2==0 else f'odd={i}' for i in list1]
even_odd

['even=100', 'even=20', 'odd=27', 'even=38', 'odd=47', 'even=52', 'odd=87']

In [12]:
l=[45,76,89,53,67,90,82,49,33,99]
#1.filter the students who pass marks>=50
#2. calculate grades of all students
#A:85+, B:70-84, c:50-69, D:<50,  4 list will come
#3. Add 5 grace marks to student who failed <50
#4. find the average marks of the class

passs=[]
for i in l:
    if i>=50:
        passs.append(i)

passs

[76, 89, 53, 67, 90, 82, 99]

In [15]:
passs=[i for i in l if i>=50]
passs

[76, 89, 53, 67, 90, 82, 99]

In [21]:
A_grade=[]
B_grade=[]
C_grade=[]
D_grade=[]
for i in l:
    if i>=85:
        A_grade.append(f'{i}:A grade')
    elif i>=70:
        B_grade.append(f'{i}:B grade')
    elif i>=50:
        C_grade.append(f'{i}:C grade')
    else:
        D_grade.append(f'{i}:D grade')

A_grade,B_grade,C_grade,D_grade

(['89:A grade', '90:A grade', '99:A grade'],
 ['76:B grade', '82:B grade'],
 ['53:C grade', '67:C grade'],
 ['45:D grade', '49:D grade', '33:D grade'])

In [28]:
l=[45,76,89,53,67,90,82,49,33,99]
[f'A:{i}' if i>=85 else f'B:{i}' if i>=70 else f'c:{i} for in l']

['A:99']

In [29]:
l=[45,76,89,53,67,90,82,49,33,99]
summ=0
for i in l:
    summ=summ+i
print(summ)
print('avg: ',summ/len(l))

683
avg:  68.3

**Walrus Operator**

- in list comprehension = will not work

- if you want to erite equal to (=), then will use walrus operator

In [30]:
total=0
ans=[total:=total+i for i in l]
total/len(ans)

68.3