In [1]:
import os
os.getcwd()

# get current working directory(cwd)

'C:\\Users\\dell\\Documents\\FSDS\\Python_Sessions'

## Variables

Variables are used to store the values, and the values can be change

In [3]:
num=100
# value 100 stored in a variable called: num
print(num)

100

In [4]:
num=200
print(num)

200

In [5]:
Number=200
Number

200

In [6]:
number=300
number

300

In [7]:
number, Number

(300, 200)

In [8]:
number123=300
number123

300

In [9]:
123number=400
123number

SyntaxError: invalid decimal literal (359278068.py, line 1)

In [ ]:
number  #works
NUMBER  #works
number123  #works
123number  #notworks

In [10]:
NUMBERone=500
NUMBERone

500

In [11]:
number$one=600
number$one

SyntaxError: invalid syntax (275804197.py, line 1)

In [12]:
number&one=700
number&one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3988721785.py, line 1)

In [13]:
number*one=800
number*one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2297086758.py, line 1)

In [14]:
number_one=900
number_one

900

In [15]:
number one=900
number one

SyntaxError: invalid syntax (3762185739.py, line 1)

In [ ]:
NUMBERone    #works
number$one   #not works
number&one  #not works
number*one  #not works
number_one  #works
number one  #not works

In [16]:
if=200
if

SyntaxError: invalid syntax (2012701846.py, line 1)

In [ ]:
if
else
True
False
for
while

In [17]:
_=12
_

12

- Variables can be Capital letters

- Varibles can be a small letters

- Variables can be mix of both capital and small letters

- Variables can be the mix of letters and numbers as **Suffix**

- Variables can not be the mix of letters and numbers as **Prefix**

- Variables can not be include Special characters except **underscore(_)**

- Variables can not be include a **space between words**

- Only underscore also consider as variables

- Inbuilt variables can not be used as variables

In [ ]:
number  #works
NUMBER  #works
number123  #works
123number  #notworks
NUMBERone    #works
number$one   #not works
number&one  #not works
number*one  #not works
number_one  #works
number one  #not works
if=100      #not works
_=200       #works

In [18]:
IF=12
IF

12